<div class="p-6">
    <p class="mb-2 font-medium">@Description</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sapien est, varius vel ultricies at, tincidunt ut felis. Duis nulla justo, vestibulum nec convallis non, pretium eget erat. Praesent vitae mi et lacus fermentum condimentum. Duis nunc est, placerat vitae diam quis, facilisis ultrices tortor. Phasellus eu dui eget justo luctus consequat. Quisque vehicula maximus commodo. Quisque eget dui ornare, egestas felis eu, congue neque.
    </p>
</div>

@code {
    [Parameter, EditorRequired]
    public required string Description { get; set; }
}
